html, body {    
    margin: 0; 
    padding: 0; 
    height: 100%; 
    overflow: hidden;
}


body {
    background-color: darkgreen;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 1.5em;
}

h2 {
    text-align: center;
    margin: 10px;
    font-size: 1em;
}

button {
    background-color: #702963;
    padding: 5px 10px;
    margin: 10px 10px;
    border-radius: 5%;
    
    
}

#back-button {
    background-color: #555555;
    padding: 5px 10px;
    margin: 5px 5px;
    border-radius: 5%;
}

img {
    width: 60px;
    height: 84px;   
    margin: 10px;
}